@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Cabin;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase
}

.font-cabin {
  font-family: Cabin;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase
}

.font-ps {
  font-family: 'Press Start 2P', cursive;
}

.jumbo {
  font-size: 3rem;
}

@media (min-width: 768px) {
  .jumbo {
    font-size: 6rem;
  }
}

.text-justify {
  text-align: justify !important;
}

$primary: #25c68a;
$font-family-base: 'Space Mono', monospace;

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-svg-core/styles.css";